<%- include('partials/_header') -%>
<body>
<%- include('partials/_navigation') -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Enes Celep</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto justify-content-center">
        <p>Hi! I'm Enes. I'm a software enthusiast who studies at science high school in Turkey.</p>
        <p>I'm interested in Back-End Development and currently learning NodeJS and Express.</p>
        <p>If you wanna contact with me you can send connection request on <a href="https://www.linkedin.com/in/enes-celep-36bbb1200/" target='_blank'>Linkedin</a></p>
      </div>
    </div>
  </div>

  <hr>
<%- include('partials/_footer') -%>
</body>
