<%- include('partials/_header') -%>
<body>
<%- include('partials/_navigation') -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Add New Post</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post" action="/posts" class="control-group" encType="multipart/form-data">
          <!--<div class="control-group">-->
            <div class="form-group floating-label-form-group controls">
              <label>Post Title</label>
              <input type="text" name="title" class="form-control" placeholder="Post Title" required data-validation-required-message="Please enter post title">
              <p class="help-block text-danger"></p>
            </div>
         <!-- </div>-->
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Post Description</label>
              <textarea rows="5" name="detail" class="form-control" placeholder="Post Description" required data-validation-required-message="Please enter post description"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="form-group floating-label-form-group controls">
            <label>Add Photo</label>
            <input type="file" name="image" class="form-control" >
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group floating-label-form-group controls">
            <label>Photo Caption</label>
            <input type="text" name="caption" class="form-control" placeholder="Photo's Caption">
            <p class="help-block text-danger"></p>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
        </form>
      </div>
    </div>
  </div>

  <hr>
<%- include('partials/_footer') -%>
</body>